@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';


body {
    font-family: 'Poppins', sans-serif;
}
.header {
    height: 85vh;
    background-image: url(images/landing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 20rem;
    font-size: 1.25rem;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav {
    width: 55%;
}
.list .item a {
    color: #7a7d89;
    text-decoration: none;
}
.list :nth-child(5) a{
    background-color: #370511;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}
.logo {
    font-weight: bolder;
    font-size: 1.75rem;
}
.h-info {
    width: 50%;
    padding: 10rem 4rem 2rem 19rem;
    height: 20rem;
    font-size: 1.5rem;
}
.h-title {
    font-size: 3.5rem;
    font-weight: bolder;
}
.h-text {
    margin-top: 2rem;
    font-size: 1.25rem;
}
.h-btn {
    margin-top: 2rem;
    background-color: #370511;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.m-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.main {
    text-align: center;
}
.article {
    width: 30%;
    height: 40rem;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.article img {
    width: 100%;
    height: 50%;
}
.a-title {
    padding-top: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
}
.a-text {
    padding: 1rem 1.5rem 2rem 1.5rem;
    text-align: left;
}
.a-btn {
    border: 2px solid #c0b0b4;
    background-color: white;
    border-radius: 50px;
    font-weight: bolder;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
}
.m-title {
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 2rem;
}
.m-s-title {
    font-weight: bolder;
    color: #a09da5;
    padding-bottom: 2rem;
    font-size: 1.25rem;
}
.footer {
    background-color: black;
    color: white;
    padding: 3rem 17rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer .info a {
    color: white;
    text-decoration: none;
}
.footer :nth-child(4) .items {
    display: flex;
    justify-content: space-between;
}
.footer .info {
    padding-top: 1rem;
}
.f-title {
    font-size: 2rem;
    font-weight: bolder;
}